---
import Bagde from "./Bagde.astro";
---

<article>
  <h2 class="text-2xl font-bold mb-4">Projects</h2>
    <p class="text-lg mb-4">Here are some of my projects:</p>
    <ul class="list-disc pl-5 mb-4">
      <Bagde>Project 1</Bagde>
      <Bagde>Project 1</Bagde>
      <Bagde>Project 1</Bagde>
    </ul>

</article>