---

---

<a class="text-sm text-gray-500 text-center" id="copy">
  <img class="w-20 h-20" src="/Email.svg" alt="euddycabrera03@gmail.com" />
  Email
  <p class="hidden" id="copy1">euddycabrera03@gmail.com</p>
</a>

<script>
import { Notyf } from 'notyf';
const notyf = new Notyf({
  duration: 2000,
  position: {
    x: 'center',
    y: 'top',
  },
});

// notyf.success('Please fill out the form');


  const btnEmail = document.getElementById("copy");
  const btnEmail1 = document.getElementById("copy1").innerText;

  console.log(btnEmail1);
  btnEmail?.addEventListener("click", (e) => {
    const text = e.target.alt || btnEmail1;

    navigator.clipboard
      .writeText(text)
      .then(() => {
        notyf.success("Email copiado al portapapeles"  );
      })
      .catch((err) => {
        console.error("Error al copiar el texto: ", err);
      });
  });
</script>
