<div class="flex flex-col justify-center items-center md:h-12 md:mt-4 ">
  <a class="text-base text-white font-normal text-center" href="/CV.pdf" download class="cv-link">
     <svg class="size-22 md:size-18">
          <use xlink:href="./sprite.svg#cv" />
        </svg>
   <span class="text-base text-white mix-blend-difference outline-pink-500 mx-auto font-light">
      CV
    </span>
  </a>
  
</div>