<div class="flex flex-col justify-center items-center  ">
  <a class="text-base text-white font-normal text-center" href="/CV.pdf" download class="cv-link">
    <img class="w-20 h-20 md:w-15 md:h-10" src="/Cv.svg" alt="" />
    CV
  </a>
  
</div>