---
import Pokedex from "~/icons/pokedex.astro";
import Modal1 from "../shared/Modal1.astro";
import Theme from "./Theme.astro";
import { themes } from "../data/Themes";
---

<Modal1
  name="Pokedex"
  idName="Pokedex"
  background="/pokedex.png"
  size="w-16 h-16 md:w-14 md:h-12"
  width="w-full h-full max-w-none md:w-4/5 md:h-11/12 md:max-w-3xl bg-white"
>
  <Fragment slot="icon"><Pokedex /></Fragment>

  <div
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
  >
  </div>

  <header
    data-theme="valentine"
    class="border-1 border-neutral w-55 text-center mx-auto rounded-sm bg-base-100"
  >
    <div class="border-b-4 border-error flex gap-x-2 text-base items-center">
      <img class="w-7 h-8" src="/pokeball.png" />
      <span class="">001</span>
      <h2>pastel</h2>

      <aside class="grid grid-cols-4 w-[74px] overflow-hidden ml-auto">
        <span class="bg-base-200 w-6 h-4"></span>
        <span class="bg-base-300 w-6 h-4"></span>
        <span class="bg-base-200 w-6 h-4"></span>
        <span class="bg-base-300 w-6 h-4"></span>

        <span class="bg-base-300 w-6 h-4"></span>
        <span class="bg-base-200 w-6 h-4"></span>
        <span class="bg-base-300 w-6 h-4"></span>
        <span class="bg-base-200 w-6 h-4"></span>
      </aside>
    </div>
    <div class="flex">
      <div class="pl-8 my-1">
        <p class="">Normal theme</p>
        <ul class="flex flex-wrap gap-1 text-base-content my-1">
          <li
            class="bg-primary flex aspect-square w-5 items-center justify-center rounded lg:w-6"
          >
            A
          </li>
          <li
            class="bg-secondary flex aspect-square w-5 items-center justify-center rounded lg:w-6"
          >
            A
          </li>

          <li
            class="bg-accent flex aspect-square w-5 items-center justify-center rounded lg:w-6"
          >
            A
          </li>
          <li
            class="bg-neutral flex aspect-square w-5 items-center justify-center rounded lg:w-6"
          >
            A
          </li>
        </ul>
      </div>
      <aside class="grid w-[74px] grid-cols-4 overflow-hidden ml-auto">
        <span class="bg-base-200 w-6 h-4"></span>
        <span class="bg-base-300 w-6 h-4"></span>
        <span class="bg-base-200 w-6 h-4"></span>
        <span class="bg-base-300 w-6 h-4"></span>

        <span class="bg-base-300 w-6 h-4"></span>
        <span class="bg-base-200 w-6 h-4"></span>
        <span class="bg-base-300 w-6 h-4"></span>
        <span class="bg-base-200 w-6 h-4"></span>

        <span class="bg-base-200 w-6 h-4"></span>
        <span class="bg-base-300 w-6 h-4"></span>
        <span class="bg-base-200 w-6 h-4"></span>
        <span class="bg-base-300 w-6 h-4"></span>

        <span class="bg-base-300 w-6 h-4"></span>
        <span class="bg-base-200 w-6 h-4"></span>
        <span class="bg-base-300 w-6 h-4"></span>
        <span class="bg-base-200 w-6 h-4"></span>
      </aside>
    </div>
  </header>

<section class="flex justify-center items-center mt-10">  

   <section
    id="scroll-content"
    data-theme="dark"
    class="tabla w-full bg-white border-2 border-neutral h-70 mx-auto max-w-lg  rounded-sm overflow-hidden"
  >
    <ul class="w-100 h-70 text-sm leading-none text-black" id="theme-list">
      {themes.map((theme, index) => <Theme name={theme} number={index} />)}
    </ul>

   
  </section>
  <div class="relative flex w-30 h-70 justify-center items-center">
    <div class="w-2 h-full bg-gray-100 relative border-2 border-black">
      <div
        class="w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-b-[20px] border-b-gray-400 absolute  left-1/2 -translate-x-1/2 z-10 outline-b-black outline-r-2 outline-offset-b-0 "
      >
      </div>
      <div
        id="thumb"
        class="w-8 bg-[linear-gradient(2deg,rgba(9,9,121,1)_0%,rgba(88,112,248,1)_12%)] h-15 absolute top-0 cursor-pointer rounded border-2 border-white left-1/2 -translate-x-1/2  ring outline-black outline-2 outline-offset-0 shadow-xl shadow-black-500/50"
      >
      </div>
    </div>
    <div
      class="w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[20px] border-t-black absolute left-1/2 -translate-x-1/2 bottom-1"
    >
    </div>
  </div>
 </section>



</Modal1>

  <script>
    import "./Scrollbar.js";
    const activeTheme = document.documentElement.getAttribute("data-theme");
    const items = document.querySelectorAll("#theme-list li");

    items.forEach((li) => {
      const aside = li.querySelector("[data-img-container]");
      if (li.dataset.name === activeTheme) {
        // Ya tienes el <li> activo directamente
        li.classList.add("border-4", "rounded-r-sm", "border-red-600");
        console.log("Tema activo encontrado:", li.dataset.name);

        aside.innerHTML = `
          <img class="size-10 rounded-box" src="/pokeball.png" />
        `;
      }
    });
  </script>