---
const { number, name } = Astro.props;
---

<li class="flex h-8 gap-x-4" data-name={name} id={name} >
  <aside
    class="w-20 bg-red-600 flex items-center justify-center border-red-200 border-r-6 "
  data-img-container>
  
        <div class="w-6 h-6 bg-white rounded-full" />
  </aside>
  <div class="flex items-center gap-x-4">
    <span class="text-xl font-extralight text-black">0{number}</span>
    <span class="text-xl font-extralight text-black">{name}</span>
  </div>
</li>
