---
import Hora from "./footer/Hora.astro";
import ClockHora from "./header/ClockHora.astro";
import KeyBoardSearch from "./header/KeyBoardSearch.astro";
import Spin from "./spin.astro";
---

<header
  class="flex justify-between gap-x-6 mb-8 md:order-last md:flex-col md:gap-8 md:gap-x-0 md:items-center md:w-100 md:h-11/12 py-4 md:justify-start md:mt-0"
>
  <article
    class="flex flex-col justify-center items-center h-16 relative cursor-pointer  md:mr-60 "
  >
    <KeyBoardSearch />
  </article>

  <article class="flex flex-col justify-center items-center h-16 relative">
    <!-- <Hora /> -->
     <ClockHora/>
  </article>

  <article class="hidden md:block px-8 md:mr-60" id="imagine">
    <p id="text" class="text-sm transition-all duration-500">
      If u can imagine it, u can program it
    </p>
    <Spin />
  </article>
</header>

<script>
  const imagine = document.getElementById("imagine");
  const parrafo = document.getElementById("text");

  let texto = true;

  imagine?.addEventListener("click", (e) => {
    texto = !texto;

    const newTexto = texto
      ? "If u can imagine it, u can program it"
      : "Puede imaginarlo, puede programarlo";

    parrafo.innerText = newTexto;
  });
</script>

<style>
  article {
    width: 129.23px;
    height: 130px;
    background-size: cover;
    background-position: center;
  }

  article {
    background-image: url("/StarSeach.svg");
  }

  article:nth-child(2) {
    background-image: url("/StarTime.svg");
  }

  article:last-child {
    background-image: url("/StarIF.svg");
  }
</style>
