---

---

<section>
    <div id="footer-button" class="no-print">
      <img src="/Setting.svg" alt="">
      </div>
      
      <div
        id="hotkeypad"
        data-placeholder="Buscar comando"
       
      >
      </div>
      
</section>