---
import Cv from "./main/Cv.astro";
import Projects from "./main/Projects.astro";
import LinkSocial from "./shared/LinkSocial.astro";
import BtnEmail from "./main/BtnEmail.astro";
import Backgrounds from "./main/backgrounds.astro";
import Pinterest from "./main/Pinterest.astro";
import SwitchTheme from "./main/SwitchTheme.astro";
---

<main
  class="max-w-105 flex flex-wrap gap-x-3 mt-4 px-4 justify-baseline items-baseline md:order-first md:flex-col md:mt-0 md:justify-normal md:gap-y-8 md:items-center md:h-10/12"
>
  <Projects />
  <Cv />
  <LinkSocial href="https://github.com/EJCP3" img="/Github.svg" name="GitHub" />

  <LinkSocial
    href="https://www.linkedin.com/in/euddycabrera/"
    img="Linkedin.svg"
    name="Linkedin"
  />

  <BtnEmail />

  <Backgrounds />
  <SwitchTheme />
  <Pinterest />
</main>

<script type="module">
  

  window.addEventListener("open", (e) => {
    const modal = document?.querySelector(
      `[data-modal-id="${e.detail.toLowerCase()}" ] `
    );

    document.querySelectorAll(`dialog[open]`).forEach((dialog) => {
      dialog.close();
    });

    if (modal) {
      modal.showModal();
    } else {
    }
  });
  window.addEventListener("close", (e) => {
    console.log(e.detail);
  });
</script>
