---
import Cv from "./main/Cv.astro";
import Projects from "./main/Projects.astro";
import LinkSocial from "./shared/LinkSocial.astro";
import BtnEmail from "./main/BtnEmail.astro";
import Backgrounds from "./main/backgrounds.astro";
import Pinterest from "./main/Pinterest.astro";
import SwitchTheme from "./main/SwitchTheme.astro";
---

<main
  class="max-w-105  flex flex-wrap gap-x-3 mt-4 px-4 justify-baseline items-baseline md:order-first md:flex-col md:mt-0 md:justify-normal md:gap-y-8 md:items-center md:h-10/12"
>
  
  <Projects />
  <Cv />
  <LinkSocial href="https://github.com/EJCP3" img="/Github.svg" name="GitHub" />

  <LinkSocial
    href="https://www.linkedin.com/in/euddycabrera/"
    img="Linkedin.svg"
    name="Linkedin"
  />

  <BtnEmail />

  <Backgrounds />
  <SwitchTheme/>
  <Pinterest />
</main>

<script type="module">
  function openModal(id) {
    document
      .querySelectorAll(`[data-modal-id="${id}"] dialog[open]`)
      .forEach((dialog) => {
        dialog.close();
      });

    const target = document.querySelector(`[data-modal-id="${id}"] dialog`);
    target?.showModal();
  }

  document.querySelectorAll(".modal-wrapper").forEach((wrapper) => {
    const modal = wrapper.querySelector("dialog");
    const openBtn = wrapper.querySelector(".modal-btn");
    const closeBtn = wrapper.querySelector(".modal-close");

    openBtn?.addEventListener("click", () => modal?.showModal());
    closeBtn?.addEventListener("click", () => modal?.close());
    // modal?.addEventListener("click", (e) => {
    //   if (e.target === modal) {
    //     modal?.close();
    //   }
    // });
  });

  window.addEventListener("modal:open", (e) => {
    console.log(`Opening modal with ID: ${e.detail}`);
    openModal(e.detail);
  });
</script>
