---
import Cv from "./main/Cv.astro";
import Projects from "./main/Projects.astro";
import LinkSocial from "./shared/LinkSocial.astro";
import BtnEmail from "./main/BtnEmail.astro";
import Backgrounds from "./main/backgrounds.astro";
import Pinterest from "./main/Pinterest.astro";
import SwitchTheme from "./main/SwitchTheme.astro";
---

<main
  class="max-w-140 flex flex-wrap justify-center items-center gap-x-3 mt-4 px-4
         md:flex-col md:items-center md:justify-normal md:h-[80vh]  md:max-h-[96%] md:-mt-28  md:gap-y-12  md:w-30 "
>
  <Projects />
  <Cv />
  <LinkSocial href="https://github.com/EJCP3" img="/sprite.svg#github" name="GitHub" />

  <LinkSocial
    href="https://www.linkedin.com/in/euddycabrera/"
    img="/sprite.svg#linkedin"
    name="Linkedin"
  />

  <BtnEmail />

  <Backgrounds />
  <SwitchTheme />
  <Pinterest />
</main>

<script type="module">
  

  window.addEventListener("open", (e) => {
    const modal = document?.querySelector(
      `[data-modal-id="${e.detail.toLowerCase()}" ] `
    );

    document.querySelectorAll(`dialog[open]`).forEach((dialog) => {
      dialog.close();
    });

    if (modal) {
      modal.showModal();
    } else {
    }
  });
  window.addEventListener("close", (e) => {
    console.log(e.detail);
  });
</script>
