---
import Modal from "../main/Modal.astro";
import IconAbout from "../../icons/IconAbout.astro";
import { basics } from "@cv";
---

<Modal name="About me" background="/Contacts.svg" size="w-20 h-20" 
  
>
  <Fragment slot="icon"><IconAbout /></Fragment>

  <article class="flex flex-col items-center justify-center gap-y-4 relative dark:bg-gray-900 p-6 rounded-2xl max-w-sm mx-auto">
    <h1 class="text-3xl font-bold mb-2">Hey, soy {basics.name}</h1>
    <h2 class="text-left text-lg text-gray-500  font-light ">{basics.titular}</h2>
    <p
      class="text-left font-light text-sm leading-relaxed  text-gray-700 dark:text-gray-300 "
    >
      {basics.resumen}
    </p>
  </article>

  <a onclick="window.dispatchEvent(new CustomEvent('modal:open', { detail: 'skills' }))"
    id="btnModal"
    class="mt-4 inline-flex items-center justify-center px-5 py-2 bg-blue-600 text-white font-medium rounded-xl hover:bg-blue-800 transition z-10 relative"
  >
    Tecnologia
    
  </a>
</Modal>

<script>

</script>
