---
import Code from "~/icons/Code.astro";

const { title,  bgColor, img } = Astro.props;

console.log(img)

---

<div
  class="card flex flex-col cursor-pointer w-40 rounded-lg overflow-hidden "
>
<Code class="size-4 m-1 opacity-50  hover:animate-ping"/>
  <div class=" p-4 text-center">
    <p class="text-xs uppercase tracking-wider text-gray-500 m-0">This is</p>
    <h2 class="text-xl font-bold mt-1 mb-0 text-base-content">{title}</h2>
  </div>

  <div
    class=`badge badge-soft w-full h-[150px] rounded-none flex items-center justify-center relative transition-transform duration-500 ease-in-out card-bottom ${bgColor}`
  >
   
    <svg class="w-22 h-22 card-icon transition-transform duration-500 ease-in-out">
    <use xlink:href={img} />
  </svg>
  </div>
</div>

<style>
  .card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateZ(0);
  }

  .card-bottom {
    transform-style: preserve-3d;
  }

  .card-icon {
    will-change: transform;
  }

  .card:hover .card-icon {
    transform: scale(1.15);
  }
</style>
