---
import Hora from "../shared/Hora.astro";
---

<div class="text-center">
  <Hora hours="digital" minute="digital" />
  <p class="text-xl font-light">
    <span class="dayDate"></span>/<span class="mouthDate"></span>/<span
      class="yearDate"></span>
  </p>
</div>

<script>
  const timeToday = new Date();
  const day = String(timeToday.getDate()).padStart(2, "0");
  const year = String(timeToday.getFullYear());
  const mouth = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
  ];
  const mouthnow = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
  ][timeToday.getMonth()];

  const classMouthDate = document.querySelector(".mouthDate");
  const classDayDate = document.querySelector(".dayDate");
  const classYear = document.querySelector(".yearDate");

  if (year && classMouthDate && classDayDate) {
    classMouthDate.innerHTML = mouth.indexOf(mouthnow) + 1;
    classYear.innerHTML = year;
    classDayDate.innerHTML = day;
  }
</script>
