---
import Modal from "../main/Modal.astro";
import IconSkill from "../../icons/IconSkill.astro";
import CardSkill from "./CardSkill.astro";
import { TAGS } from "../main/Tags";

const tagsArray = Object.entries(TAGS);
---

<Modal name="Skills" background="/spotify.svg" size="w-17 h-20">
  <Fragment slot="icon"><IconSkill /></Fragment>
  <h2 class="text-lg text-gray-500 mb-4 font-light p-2">Tecnologias</h2>
  <article class="grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))]  place-items-center  gap-y-4  place-self-center ">
    {
      tagsArray.map(([key, tag]) => {
        return (
          <CardSkill title={tag.name} icon={tag.img} bgColor={tag.class} />
        );
      })
    }
  </article>
</Modal>

<script>
 
</script>
