---
// Supports weights 200-900
import '@fontsource-variable/inconsolata';
import { basics } from "@cv";

---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/code.svg" />
		<meta name="description" content={basics.titular} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{basics.label}</title>

	</head>
	<body >
		<slot />
		
	</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<style>
	body {
  font-family: 'Inconsolata Variable', monospace;
}
</style>


